/* You can add global styles to this file, and also import other style files */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body#phc{
  margin-right: auto;
    margin-left: auto;
    font-size: 14px;
font-family: 'Lato', sans-serif;
}

.cust-req-history{border: 2px solid #dfdbdb;
border-radius: 4px;
box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
margin-bottom: 24px;
padding: 5px 0;
}
#phc label{margin: .5rem;font-weight: 600}

.edit-profile section{
  margin:0px;
}

/*.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  pointer-events: none;
  color: #aaa;
  transition: all 200ms;
}

.form-control:focus + .form-control-placeholder {
  color: #000;
  font-size: 75%;
  top: -25px;
}*/

header{
border-bottom: 3px solid #d9534f;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(217, 83, 79);
  background-color: #fff;
}
.container{
margin-right: auto;
  margin-left: auto;
}
.logo{
padding: 0;
  float: left;
}
.logo-img{
padding: 5px 0;
display: inline-block;
  margin: 0;
}
.menu {
  width: 100%;
  margin: 0;
  padding: 23px 0 0 0;
  list-style: none;

}

.menu li {
  float: left;
  padding: 0 0 10px 0;
  position: relative;
}

.menu a {
  float: left;
  height: 25px;
  padding: 0 15px;
  color: #999;
  text-transform: uppercase;
  font: bold 10px/25px Arial, Helvetica;
  text-decoration: none;

}

.menu li:hover > a {
  color: #292b2c;
}

*html .menu li a:hover { /* IE6 */
  color: ##292b2c;
}

.menu li:hover > ul {
  display: block;
}

/* Sub-menu */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 99999;
  background-color: #FFF;
  background-image: linear-gradient(#444, #111);
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.menu ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
  box-shadow: 0 1px 0 #111111,
              0 2px 0 #777777;
}

.menu ul li:last-child {
  box-shadow: none;
}

.menu ul a {
  padding: 10px;
  height: auto;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

*html .menu ul a { /* IE6 */
  height: 10px;
  width: 150px;
}

*:first-child+html .menu ul a { /* IE7 */
  height: 10px;
  width: 150px;
}

.menu ul a:hover {
  background-color: #0186ba;
  background-image: linear-gradient(#04acec, #0186ba);
}

.menu ul li:first-child a {
  border-radius: 5px 5px 0 0;
}

.menu ul li:first-child a:after {
  content: '';
  position: absolute;
  left: 30px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #444;
}

.menu ul li:first-child a:hover:after {
  border-bottom-color: #04acec;
}

.menu ul li:last-child a {
  border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
.menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .menu             { zoom: 1; } /* IE6 */
*:first-child+html .menu { zoom: 1; } /* IE7 */
